<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xuyu.translate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4D462C3A-7257-413E-8E68-1A7D6CD205F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8AB7763-842A-4E23-B061-FC12CD702EDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xuyu</string>
	<key>description</key>
	<string>alimt(阿里通用机器翻译)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>translate_aliyun</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A8AB7763-842A-4E23-B061-FC12CD702EDC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>trans</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./main "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>阿里</string>
				<key>title</key>
				<string>自动识别翻译</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4D462C3A-7257-413E-8E68-1A7D6CD205F2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>使用阿里云机器翻译sdk, 每月百万字符免费翻译. 替代有道翻译.

自动识别输入语言, 根据是否有汉字确定翻译语言为英文或中文.

导入后请设置环境变量中的access_key以及secret.

阿里机器翻译开通地址(https://www.aliyun.com/product/ai/base_alimt)</string>
	<key>uidata</key>
	<dict>
		<key>4D462C3A-7257-413E-8E68-1A7D6CD205F2</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>A8AB7763-842A-4E23-B061-FC12CD702EDC</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>access_key</key>
		<string></string>
		<key>secret</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>access_key</string>
		<string>secret</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
